.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}

/* direction */
.column {
  flex-direction: column;
}
.column-reverse {
  flex-direction: column-reverse;
}
.row {
  flex-direction: row;
}
.row-reverse {
  flex-direction: row-reverse;
}

/* flex-wrap */
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* .flex-flow */

/* .flex-grow */

/* .flex-shrink */

/* justify */
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}

/* align */
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}
