/* top */ 
.mt-0 {
  margin-top: 0;
}
.mt-1px {
  margin-top: 1px;
}
.mt-2px {
  margin-top: 2px;
}
.mt-3px {
  margin-top: 3px;
}
.mt-4px {
  margin-top: 4px;
}
.mt-5px {
  margin-top: 5px;
}
.mt-6px {
  margin-top: 6px;
}
.mt-7px {
  margin-top: 7px;
}
.mt-8px {
  margin-top: 8px;
}
.mt-9px {
  margin-top: 9px;
}
.mt-10px {
  margin-top: 10px;
}
.mt-11px {
  margin-top: 11px;
}
.mt-12px {
  margin-top: 12px;
}
.mt-13px {
  margin-top: 13px;
}
.mt-14px {
  margin-top: 14px;
}
.mt-15px {
  margin-top: 15px;
}
.mt-16px {
  margin-top: 16px;
}
.mt-17px {
  margin-top: 17px;
}
.mt-18px {
  margin-top: 18px;
}
.mt-19px {
  margin-top: 19px;
}
.mt-20px {
  margin-top: 20px;
}
.mt-25px {
  margin-top: 25px;
}
.mt-30px {
  margin-top: 30px;
}
.mt-35px {
  margin-top: 35px;
}
.mt-40px {
  margin-top: 40px;
}
.mt-45px {
  margin-top: 45px;
}
.mt-50px {
  margin-top: 50px;
}

/* right */ 
.mr-0 {
  margin-right: 0;
}
.mr-1px {
  margin-right: 1px;
}
.mr-2px {
  margin-right: 2px;
}
.mr-3px {
  margin-right: 3px;
}
.mr-4px {
  margin-right: 4px;
}
.mr-5px {
  margin-right: 5px;
}
.mr-6px {
  margin-right: 6px;
}
.mr-7px {
  margin-right: 7px;
}
.mr-8px {
  margin-right: 8px;
}
.mr-9px {
  margin-right: 9px;
}
.mr-10px {
  margin-right: 10px;
}
.mr-11px {
  margin-right: 11px;
}
.mr-12px {
  margin-right: 12px;
}
.mr-13px {
  margin-right: 13px;
}
.mr-14px {
  margin-right: 14px;
}
.mr-15px {
  margin-right: 15px;
}
.mr-16px {
  margin-right: 16px;
}
.mr-17px {
  margin-right: 17px;
}
.mr-18px {
  margin-right: 18px;
}
.mr-19px {
  margin-right: 19px;
}
.mr-20px {
  margin-right: 20px;
}
.mr-25px {
  margin-right: 25px;
}
.mr-30px {
  margin-right: 30px;
}
.mr-35px {
  margin-right: 35px;
}
.mr-40px {
  margin-right: 40px;
}
.mr-45px {
  margin-right: 45px;
}
.mr-50px {
  margin-right: 50px;
}

/* bottom */ 
.mb-0 {
  margin-bottom: 0;
}
.mb-1px {
  margin-bottom: 1px;
}
.mb-2px {
  margin-bottom: 2px;
}
.mb-3px {
  margin-bottom: 3px;
}
.mb-4px {
  margin-bottom: 4px;
}
.mb-5px {
  margin-bottom: 5px;
}
.mb-6px {
  margin-bottom: 6px;
}
.mb-7px {
  margin-bottom: 7px;
}
.mb-8px {
  margin-bottom: 8px;
}
.mb-9px {
  margin-bottom: 9px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-11px {
  margin-bottom: 11px;
}
.mb-12px {
  margin-bottom: 12px;
}
.mb-13px {
  margin-bottom: 13px;
}
.mb-14px {
  margin-bottom: 14px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-16px {
  margin-bottom: 16px;
}
.mb-17px {
  margin-bottom: 17px;
}
.mb-18px {
  margin-bottom: 18px;
}
.mb-19px {
  margin-bottom: 19px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-45px {
  margin-bottom: 45px;
}
.mb-50px {
  margin-bottom: 50px;
}

/* left */ 
.ml-0 {
  margin-left: 0;
}
.ml-1px {
  margin-left: 1px;
}
.ml-2px {
  margin-left: 2px;
}
.ml-3px {
  margin-left: 3px;
}
.ml-4px {
  margin-left: 4px;
}
.ml-5px {
  margin-left: 5px;
}
.ml-6px {
  margin-left: 6px;
}
.ml-7px {
  margin-left: 7px;
}
.ml-8px {
  margin-left: 8px;
}
.ml-9px {
  margin-left: 9px;
}
.ml-10px {
  margin-left: 10px;
}
.ml-11px {
  margin-left: 11px;
}
.ml-12px {
  margin-left: 12px;
}
.ml-13px {
  margin-left: 13px;
}
.ml-14px {
  margin-left: 14px;
}
.ml-15px {
  margin-left: 15px;
}
.ml-16px {
  margin-left: 16px;
}
.ml-17px {
  margin-left: 17px;
}
.ml-18px {
  margin-left: 18px;
}
.ml-19px {
  margin-left: 19px;
}
.ml-20px {
  margin-left: 20px;
}
.ml-25px {
  margin-left: 25px;
}
.ml-30px {
  margin-left: 30px;
}
.ml-35px {
  margin-left: 35px;
}
.ml-40px {
  margin-left: 40px;
}
.ml-45px {
  margin-left: 45px;
}
.ml-50px {
  margin-left: 50px;
}
